<div id="<%= dom_id contact %>">
  <p>
    <strong>Fname:</strong>
    <%= contact.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= contact.lname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong>Github account:</strong>
    <%= contact.github_account %>
  </p>

</div>
